<launch>
<arg name="robot1_init_pose" value="-x 1 -y 1 -z 0" />
<arg name="robot1_name"  value="Robot1" />

<arg name="robot2_init_pose" value="-x 2 -y 1 -z 0" />
<arg name="robot2_name"  value="Robot2" />

<arg name="robot3_init_pose" value="-x 3 -y 1 -z 0" />
<arg name="robot3_name"  value="Robot3" />
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="/home/gemy/catkin_ws/src/multirobot_sim/worlds/testworld.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  <!-- No namespace here as we will share this description.
       Access with slash at the beginning -->
  <param name="robot_description"
    command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_waffle.urdf.xacro" />

  <!-- BEGIN ROBOT 1-->
  <group ns="$(arg robot1_name)">
    <param name="tf_prefix" value="robot1_tf" />
    
     <node name="spawn_minibot_model" pkg="gazebo_ros" type="spawn_model"
     args="$(arg robot1_init_pose) -urdf -param /robot_description -model $(arg robot1_name)"
     respawn="false" output="screen" />

    <node pkg="robot_state_publisher" type="robot_state_publisher"
          name="robot_state_publisher" output="screen"/>
  </group>

  <!-- BEGIN ROBOT 2-->
  <group ns="$(arg robot2_name)">
    <param name="tf_prefix" value="robot2_tf" />
    
     <node name="spawn_minibot_model" pkg="gazebo_ros" type="spawn_model"
     args="$(arg robot2_init_pose) -urdf -param /robot_description -model $(arg robot2_name)"
     respawn="false" output="screen" />

    <node pkg="robot_state_publisher" type="robot_state_publisher"
          name="robot_state_publisher" output="screen"/>
  </group>

  <!-- BEGIN ROBOT 3-->
  <group ns="$(arg robot3_name)">
    <param name="tf_prefix" value="robot3_tf" />
    
     <node name="spawn_minibot_model" pkg="gazebo_ros" type="spawn_model"
     args="$(arg robot3_init_pose) -urdf -param /robot_description -model $(arg robot3_name)"
     respawn="false" output="screen" />

    <node pkg="robot_state_publisher" type="robot_state_publisher"
          name="robot_state_publisher" output="screen"/>
  </group>
    <!--Move_Base 1-->
    <include file="$(find multirobot_sim)/launch/new_move_base.launch">
    <arg name="ns" value="$(arg robot1_name)" />
    </include>
 <!--Move_Base 2-->
    <include file="$(find multirobot_sim)/launch/new_move_base.launch">
    <arg name="ns" value="$(arg robot2_name)" />
    </include>
 <!--Move_Base 3-->
    <include file="$(find multirobot_sim)/launch/new_move_base.launch">
    <arg name="ns" value="$(arg robot3_name)" />
    </include>

 
        <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="/home/gemy/catkin_ws/src/multirobot_sim/maps/map.yaml">
  <param name="frame_id" value="map" />
    </node>
</launch>